@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&family=Balsamiq+Sans&family=Mystery+Quest&family=Nova+Square&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgba(26, 26, 26);

}

.container {
    display: flex;
    justify-content: center;
}

.container h1 {
    font-size: 500%;
    font-family: 'Nova Square', cursive;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;


}

.a {
    position: absolute;
    top: 50%;
}

.a a {
    color: white;
}

#a1 {
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin: 10px 0;
    font-family: 'Nova Square', cursive;
    font-size: 28px;

}

#a2 {
    background-color: rgb(226, 223, 43);
    border: 2px solid rgb(226, 223, 43);
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin: 10px 0;
    font-family: 'Nova Square', cursive;
    font-size: 28px;

}

.fa-crown {
    font-size: 40px;
    margin-left: -15px;
    color: white;
}

